{% extends "dashboard.html" %}

{% block title %}Add a Part{% endblock %}

{% block dash_content %}
<div class="row">
  <div class="span6">
    <form class="form horizontal" action="{{ url_for('add_part') }}" method="POST" enctype="multipart/form-data">
      <fieldset>
        <legend>Add a Part</legend>
        <div class="control-group">
          <label class="control-label" for="name">Part Name:</label>
          <div class="controls">
            <input type="text" name="name" placeholder="Part Name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="price">Price:</label>
          <div class="controls">
            <input type="text" name="price" placeholder="Price">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="photo">Photo:</label>
          <div class="controls">
            <input type="file" name="photo">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">Description: </label>
          <div class="controls">
            <textarea name="description" placeholder="Description"></textarea>
          </div>
        <div class="control-group">
          <input type="submit" value="Add Part" class="btn btn-large">
        </div>
      </fieldset>
    </form>
</div>
{% endblock %}
