{% extends "base.html" %}

{% block title %}Build your PC{% endblock %}
{% block body %}

<div class="container">

<div class="jumbotron">
<h1>PC Builder</h1>
<p class="lead">Configure your PC</p>
</div>

<hr>


<div class="row-fluid">
<div class="tabbable tabs-left"> 

<ul class="nav nav-tabs">
<li class="active"><a href="#tab1" data-toggle="tab">Overview</a></li>
<li><a href="#tab2" data-toggle="tab">Components</a></li>
<li><a href="#tab3" data-toggle="tab">Accessories</a></li>
<li><a href="#tab4" data-toggle="tab">Review and Purchase</a></li>

</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab1">
<p>Software Developer Bundle</p>
</div>

<div class="tab-pane" id="tab2">
<p>Select Parts:</p>

<div class="controls span2">
<label class="checkbox">
<input type="checkbox" value="option1" id="inlineCheckbox1"> 2GB RAM
</label>
<label class="checkbox">
<input type="checkbox" value="option2" id="inlineCheckbox2"> 4GB RAM
</label>
<label class="checkbox">
<input type="checkbox" value="option3" id="inlineCheckbox3"> 6GB RAM
</label>
<label class="checkbox">
<input type="checkbox" value="option3" id="inlineCheckbox3"> 8GB RAM
</label>
</div>

<div class="controls span2">
<label class="checkbox">
<input type="checkbox" value="option1" id="inlineCheckbox1"> 500GB HDD
</label>
<label class="checkbox">
<input type="checkbox" value="option2" id="inlineCheckbox2"> 1TB HDD
</label>
<label class="checkbox">
<input type="checkbox" value="option3" id="inlineCheckbox3"> 250GB SSD
</label>
<label class="checkbox">
<input type="checkbox" value="option3" id="inlineCheckbox3"> 500GB SSD
</label>
</div>
</div>


<div class="tab-pane" id="tab3">
<p>Accessories</p>
<div class="controls span2">
<label class="checkbox">
<input type="checkbox" value="option1" id="inlineCheckbox1"> Keyboard
</label>
<label class="checkbox">
<input type="checkbox" value="option2" id="inlineCheckbox2"> Mouse
</label>
<label class="checkbox">
<input type="checkbox" value="option3" id="inlineCheckbox3"> Webcam
</label>
<label class="checkbox">
<input type="checkbox" value="option3" id="inlineCheckbox3"> Monitor
</label>
</div>
</div>

<div class="tab-pane" id="tab4">
	<ul>
		<li>8GB RAM</li>
		<li>500GB HDD</li>
		<li>Intel i7</li>
		<li>Monitor Dell REVA03</li>
		<li>Keyboard Dell 1700</li>
		<li>Webcam Logitech L454W</li>
		<li>Mouse Dell N889</li>
		<li>Software Developer Bundle</li>
	</ul>


<a href="{{ url_for('order') }}"><button type="button" class="btn btn-inverse">Place Order</button></a>
</div>
</div>
</div>    
</div>

<hr>
{% endblock %}
