<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PCBuilder | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/lol.css" rel="stylesheet">
  </head>

  <body>	  

    <div class="container">
      <div class="navbar navbar-fixed-top" >
          <div class="navbar-inner">
            <div class="container" >                

              <a class="brand" href="{{ url_for('home') }}">2KJG PC Builder</a>

              <div class="nav-collapse collapse">
                <ul class="nav">
                {% if 'key' not in session %}
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% else %}
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                {% endif %}
                <li><a href="{{ url_for('build') }}">Build a PC</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#help">Help</a></li>                
                <ul class="pull-right nav">
                  {% if 'key' not in session %}
                  <li><a href="{{ url_for('login') }}">Login</a></li>
                  {% else %}
                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  {% endif %}
              </ul>
            </ul>
              </div>                
            </div>                
          </div>
      </div>
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
          <li class="alert alert-{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
        {% block body %}{% endblock %}
      </div>
</div>
            
            <hr/>
            
            <div class="container">
                <footer><p>© 2KJG 2013</p></footer>
            </div>
            
            
        </div>
        
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/jquery.validate.js"></script>
        <script src="/static/js/registration.js"></script>
    </body>
</html>
