<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PCBuilder | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/lol.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>	  

    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top" >
          <div class="navbar-inner">
            <div class="container" >                

              <a class="brand" href="">2KJG PC Builder</a>

              <div class="nav-collapse collapse">
                <ul class="nav">
                <li class="active"><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="#">Build a PC</a></li>
               <li><a href="">Home</a></li>
                <li class="active"><a href="">Register</a></li>
                <li><a href="">Build a PC</a></li>
                <li><a href="#contact">About Us</a></li>
                <li><a href="#help">Help</a></li>                
                </ul>
                {% if 'key' not in session %}
                <form class="navbar-form pull-right" action="{{ url_for('login') }}" method="POST">
                  <input class="span2" type="text" placeholder="Email" name="email_address">
                  <input class="span2" type="password" placeholder="Password" name="password">
                  <input type="submit" class="btn" value="Sign in">              
                </form>                 
                {% else %}
              
                {% endif %}
              </div>                
            </div>                
          </div>
      </div>
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <li class="category">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
        {% block body %}{% endblock %}
      </div>
</div>
            
            <hr/>
            
            <div class="container">
                <footer><p>© 2KJG 2013</p></footer>
            </div>
            
            
        </div>
        
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap-transition.js"></script>
        <script src="js/bootstrap-alert.js"></script>
        <script src="js/bootstrap-modal.js"></script>
        <script src="js/bootstrap-dropdown.js"></script>
        <script src="js/bootstrap-scrollspy.js"></script>
        <script src="js/bootstrap-tab.js"></script>
        <script src="js/bootstrap-tooltip.js"></script>
        <script src="js/bootstrap-popover.js"></script>
        <script src="js/bootstrap-button.js"></script>
        <script src="js/bootstrap-collapse.js"></script>
        <script src="js/bootstrap-carousel.js"></script>
        <script src="js/bootstrap-typeahead.js"></script>
        
    </body>
</html>
