{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="row">
  <div class="well">
    <h2>Welcome, {{ session['user'] }}</h2>
  </div>
</div>
<div class="row">
  <div class="span3">
    <h3>Actions</h3>
    <ul class="nav nav-list">
      <li class="nav-header">Builds</li>
      <li><a href="{{ url_for('add') }}">Add Build</a></li>
      <li><a href="{{ url_for('select') }}">Create a Build</a></li>
      <li><a href="{{ url_for('add_part') }}">Add New Part</a></li>
      <li><a href="#">Manage Builds</a></li>
      <li><a href="{{ url_for('view_orders') }}">View Orders</a></li>
      <li class="nav-header">Account</li>
      <li><a href="#">Update contact details</a></li>
      <li><a href="#">Change password</a></li>
    </ul> 
  </div>
  <div class="span9">
    {% block dash_content %}
    <div class="well">
      <h3>Click an option in the menu to begin</h3>
    </div>
    {% endblock %}
  </div>
</div>
{% endblock %}
