{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="row">
                    <div class="hero-unit" id='navbar'>
                        <h1>Welcome to 2KJG Build-A-PC.</h1>
                        <p>Where we make making your PC our business.</p>
                        <p><a class="btn btn-primary btn-large" href="{{ url_for('dashboard') }}">Get Started »</a></p>
                    </div>
                  </div> 
                   
                    <div class="row">
                        <div class="span4">
                            <h2>Build Gold</h2>
                            <p>
                              This build is aimed at power users, mainly gamers and developers. It features a large amount of RAM, as well as as powerful CPU and a graphics card ready for work.
                            </p>
                            <p>
                            <a class="btn" href="#">View details »</a>
                            </p>
                        </div>
                        
                        <div class="span4">
                            <h2>Build Silver</h2>
                            <p>
                              This build is aimed at users who want a mid-range machine, that can handle light gaming, or a bit more than the typical Office use.
                            </p>
                            <p><a class="btn" href="#">View details »</a></p>
                        </div>
                        
                        <div class="span4">
                            <h2>Build Bronze</h2>
                            <p>
                              This is our entry-level build. It is suitable for word processing and web browsing. It is targeted towards the casual user, who does not need a powerful computer.
                            </p>
                            <p><a class="btn" href="#">View details »</a></p>
                        </div>
                        
                    </div>
                    
{% endblock %}
