<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="css/lol.css">
    </head>
    
    <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top" >
            <div class="navbar-inner">
                <div class="container" >                
                
                    <a class="brand" href="">2KJG PC Builder</a>
                    
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                        <li><a href="frontpage.html">Home</a></li>
                        <li><a href="signup.html">Register</a></li>
                        <li><a href="selectbuild.html">Build a PC</a></li>
                        <li><a href="#contact">About Us</a></li>
                        <li><a href="#contact">Help</a></li>                
                        </ul>           
                    </div>                
                </div>                
            </div>
        </div> 
        
        <div class="container">
            <form class = "well" >
                <legend>Login</legend>
                
                <div class="control-group">
                    <label class="control-label" for="username"> Username </label>
                    <div class="controls"><input type="text" id="username" placeholder="Username"></div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="password"> Password </label>
                    <div class="controls"><input type="password" id ="password" placeholder="Password"></div>
                </div>
                
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox text-left">
                        <input type="checkbox"> Remember me
                        </label>
                        <button type="submit" class="btn">Sign in</button>
                    </div>
                </div>
                
            </form>
        </div>
        <script src=" js/bootstrap.js "></script> 
    </body>
</html>

