{% extends "base.html" %}

{% block title %}Select your build{% endblock %}

{% block body %}

<div class="container">

<h3>Create a Build</h3>

<div class="well">
<div class="control-group">
<label for="textinput7">
<h4>Programs:</h4>
</label>
</div>

<div class="control-group">            
<div class="controls span2">
<h5>Home</h5>
<label class="checkbox">
<input type="checkbox" value="option1" id="inlineCheckbox1"> MS Office Suite
</label>
<label class="checkbox">
<input type="checkbox" value="option2" id="inlineCheckbox2"> Skype
</label>
<label class="checkbox">
<input type="checkbox" value="option3" id="inlineCheckbox3"> Chrome
</label>
<label class="checkbox">
<input type="checkbox" value="option3" id="inlineCheckbox3"> Windows Media Player
</label>
</div>

<div class="controls span2">
<h5>Performance/Gaming</h5>
<label class="checkbox">
<input type="checkbox" value="option1" id="inlineCheckbox1"> Auto CAD
</label>
<label class="checkbox">
<input type="checkbox" value="option2" id="inlineCheckbox2"> LoL
</label>
<label class="checkbox">
<input type="checkbox" value="option3" id="inlineCheckbox3"> Visual Studio 2013
</label>
<label class="checkbox">
<input type="checkbox" value="option3" id="inlineCheckbox3"> Adobe Suite
</label>
</div>

<div class="controls span2">
<h5>Office</h5>
<label class="checkbox">
<input type="checkbox" value="option1" id="inlineCheckbox1"> MSql
</label>
<label class="checkbox">
<input type="checkbox" value="option2" id="inlineCheckbox2"> AutoDesk
</label>
<label class="checkbox">
<input type="checkbox" value="option3" id="inlineCheckbox3"> Outlook
</label>
<label class="checkbox">
<input type="checkbox" value="option3" id="inlineCheckbox3"> Messenger
</label>
</div>
</div>

<div class="control-group">        
<label for="textinput10">
<h4>Budget (per unit):</h4>
</label>            
<input name="textinput10" type="" class="span4">
</div>

<div class="control-group">
<label for="selectinput3">
<h4>Quantity:</h4></label>
<input name="textinput10" type="" class="span4">
</div>

<button type="button" class="btn btn-inverse">Create</button>

</div>
{% endblock %}
