{% extends "dashboard.html" %}

{% block title %}Select your build{% endblock %}

{% block dash_content %}

<h3>Create a Build</h3>
<div class="row">
  <h4>Programs:</h4>
  <div class="span3">
  <div class="control-group">            
  <div class="controls">
  <h5>Home</h5>
  <label class="checkbox">
  <input type="checkbox" value="option1" id="inlineCheckbox1"> Gaza
  </label>
  <label class="checkbox">
  <input type="checkbox" value="option2" id="inlineCheckbox2"> Gaza
  </label>
  <label class="checkbox">
  <input type="checkbox" value="option3" id="inlineCheckbox3"> Gaza
  </label>
  <label class="checkbox">
  <input type="checkbox" value="option3" id="inlineCheckbox3"> Gaza
  </label>
  </div>
  </div>
  </div>
  <div class="span3">
  <div class="controls ">
  <h5>Performance/Gaming</h5>
  <label class="checkbox">
  <input type="checkbox" value="option1" id="inlineCheckbox1"> Lol
  </label>
  <label class="checkbox">
  <input type="checkbox" value="option2" id="inlineCheckbox2"> Lol
  </label>
  <label class="checkbox">
  <input type="checkbox" value="option3" id="inlineCheckbox3"> Lol
  </label>
  <label class="checkbox">
  <input type="checkbox" value="option3" id="inlineCheckbox3"> Lol
  </label>
  </div>
</div>

<div class="span3">
  <div class="controls">
  <h5>Office</h5>
  <label class="checkbox">
  <input type="checkbox" value="option1" id="inlineCheckbox1"> !!!
  </label>
  <label class="checkbox">
  <input type="checkbox" value="option2" id="inlineCheckbox2"> !!!
  </label>
  <label class="checkbox">
  <input type="checkbox" value="option3" id="inlineCheckbox3"> !!!
  </label>
  <label class="checkbox">
  <input type="checkbox" value="option3" id="inlineCheckbox3"> !!!
  </label>
  </div>
  </div>
</div>
<div class="row">
  <div class="control-group">        
  <label for="textinput10">
  <h4>Budget (per unit):</h4>
  </label>            
  <input name="textinput10" type="">
  </div>

  <div class="control-group">
  <label for="selectinput3">
  <h4>Quantity:</h4></label>
  <input name="textinput10" type="">
  </div>
  <button type="button" class="btn btn-inverse">Create</button>

</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
{% endblock %}
