{% extends "base.html" %}

{% block title %}View Orders{% endblock %}

{% block body %}
<h2>Your Orders</h2>
{% if orders.count() > 0 %}
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <td>User</td>
      <td>Order Summary</td>
      <td>Cost</td>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <td>{{ order.buyer }}</td>
    <td>{{ order.summary }}</td>
    <td>{{ order.cost }}</td>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td>Total</td>
      <td>{{ total }}</td>
    </tr>
  </tfoot>
</table>
{% else %}
<p>
  You have no orders outstanding.
</p>
{% endif %}
{% endblock %}
