{% extends "dashboard.html" %}

{% block title %}View Orders{% endblock %}

{% block dash_content %}
<h2>Your Orders</h2>
{% if 'ordered' in session %}
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <td>User</td>
      <td>Order Summary</td>
      <td>Cost</td>
    </tr>
  </thead>
  <tbody>
    <td>Gabrielle Watson</td>
    <td>
      <h4>Build trim: Gold</h4>
      <ul>
        <li>RAM: 8GB</li>
        <li>Hard drive: 500GB</li>
        <li>Processor: Intel i7</li>
        <li>Monitor: DELL REVA03</li>
        <li>Keyboard: DELL 1700</li>
        <li>Webcam: Logitech L454W</li>
        <li>Mouse: DELL N889</li>
        <li>
         <h5>Software: </h5>
         <ul>
           <li>Skype</li>
           <li>Chrome</li>
           <li>MS Office Suite</li>
           <li>Visual Studio 2013</li>
         </ul>
        </li>
       </ul>
    </td>
    <td>USD$3000</td>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td></td>
      <td>USD$3000</td>
    </tr>
  </tfoot>
</table>
{% else %}
<p>
  You have no orders outstanding.
</p>
{% endif %}
{% endblock %}
